<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | RCM Beta </title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/materialize/css/materialize.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/materialize/css/materialize.min.css"
              asp-fallback-href="~/lib/materialize/css/materialize.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="row no-pad-top max-percent-height mb-0">
        <div class="col s12 m12 no-margin max-percent-height no-padding">
            <div>
                <nav class="z-depth-2">
                    <div class="nav-wrapper purple white-text px-2">
                        <a asp-action="Index" asp-controller="Home" asp-area="" class="brand-logo white-text font-italic">RCM</a>
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

                        <!-- PC Sidebar -->
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            @await Component.InvokeAsync("UserInformation")
                        </ul>

                        <!-- Mobile Sidebar-->
                        <ul class="side-nav" id="mobile-demo">
                            <li>
                                <a asp-action="Index" asp-controller="Settings">
                                    <i class="material-icons left">notifications</i>Notifications
                                </a>
                            </li>
                            <li>
                                <a asp-action="Index" asp-controller="Settings">
                                    <i class="material-icons left">settings</i>Settings
                                </a>
                            </li>
                            <li>
                                <a asp-action="Index" asp-controller="Login" asp-area="">
                                    <i class="material-icons left">account_circle</i>Login
                                </a>
                            </li>
                        </ul>

                    </div>
                </nav>
            </div>
            <div class="body-content">
                @await Component.InvokeAsync("Notifications")
                @RenderBody()
            </div>
        </div>
    </div>
    <footer class="page-footer purple">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">RCM Beta</h5>
                    <p class="grey-text text-lighten-4">Solução simples para relacionamento de clientes e financeiro</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">Login</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Criar Conta</a></li>
                        <li><a class="grey-text text-lighten-3 font-bold" href="#!">Github</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/materialize/js/materialize.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/lib/materialize/js/materialize.min.js"
                asp-fallback-src="~/lib/materialize/js/materialize.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>

