@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Erro na requisição</title>
    <link rel="stylesheet" href="~/lib/materialize/css/materialize.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body style="height: 100%">
    <div class="form-container col s12 m12 pb-2mx-2 mt-3">
        <div class="row valign-wrapper">
            <div class="col s12 m12 pt-2">
                <h5 class="font-bold mx-2">Erro na Requisição</h5>
                <h6 class="mx-2">Um erro ocorreu durante o processamento da sua requisição. Foi gerado um log deste erro e enviado para o servidor.</h6>

                <div class="mx-2 mt-4">
                    <a asp-action="Index" asp-controller="Home">Clique aqui para retornar para a página inicial</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>