<div class="col s12 m12">
    <form method="GET" action="@ViewData["action"]" id="seachbar">
        <div class="row my-0 py-0">
            <div class="input-field col s6 m6">
                <label for="search">Pesquise algo...</label>
                <input type="text" id="searchInput" />
            </div>
            <div class="input-field col s4 m3">
                <select id="propertyInput">
                    @foreach (var item in (ViewData["properties"] as List<string>))
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            <div class="col s3 m3 pt-2">
                <button type="submit" class="btn waves-effect right max-percent-width purple">
                <i class="material-icons left">search</i>
                    Pesquisar
                </button>
            </div>

        </div>
    </form>
</div>