@using RCM.Domain.Models.ClienteModels;

@model RCM.Application.ViewModels.ClienteViewModel

<p class="px-1 font-bold lead">
    Informação Geral
</p>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row">
    <div class="col s12 m6">
        <label asp-for="Nome"></label>
        <input asp-for="Nome" class="input-field" data-length="100" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="col s12 m6">
        <label asp-for="Tipo"></label>
        <select asp-for="Tipo" asp-items="@(new SelectList(Enum.GetNames(typeof(ClienteTipoEnum))).ToList())"></select>
        <span asp-validation-for="Tipo" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="col s12 m6">
        <label asp-for="Pontuacao"></label>
        <select asp-for="Pontuacao" asp-items="@(new SelectList(Enum.GetNames(typeof(ClientePontuacaoEnum))).ToList())"></select>
        <span asp-validation-for="Pontuacao" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="col s12 m6">
        <label asp-for="Descricao"></label>
        <textarea asp-for="Descricao" class="materialize-textarea" data-length="1000"></textarea>
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>
</div>
