@model RCM.Application.ViewModels.ChequeViewModels.EstadoChequeViewModel

<p class="px-1 font-bold lead">
    Informação geral
</p>

<div class="row">
    <div class="input-field col s12 m6">
        <input asp-for="ChequeId" type="hidden" id="chequeId" />
        <label asp-for="DataEvento"></label>
        <input asp-for="DataEvento" type="text" class="datepicker" id="dataEvento" />
        <span asp-validation-for="DataEvento" class="text-danger"></span>
    </div>
</div>
