@using RCM.Domain.Models.FornecedorModels;

@model RCM.Application.ViewModels.FornecedorViewModel

<p class="px-1 font-bold lead">
    Informação Geral
</p>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row">
    <div class="input-field col s12 m6">
        <label asp-for="Nome"></label>
        <input asp-for="Nome" class="input-field" id="nome" data-length="100" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="col s12 m6">
        <label asp-for="Tipo"></label>
        <select asp-for="Tipo" asp-items="@(new SelectList(Enum.GetNames(typeof(FornecedorTipoEnum))).ToList())"></select>
        <span asp-validation-for="Tipo" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="input-field col s12 m6">
        <label asp-for="Descricao"></label>
        <input asp-for="Descricao" class="input-field" id="nome" data-length="100" />
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>
</div>
