@model RCM.Application.ViewModels.ProdutoViewModel

<div class="row">
    <div class="col s12">
        <ul class="tabs tabs-fixed-width">
            <li class="tab col s3"><a href="#geral" class="active">Geral</a></li>
            <li class="tab col s3"><a href="#estoque">Estoque</a></li>
            <li class="tab col s3"><a href="#preco">Preço</a></li>
            <li class="tab col s3"><a href="#marca">Marca</a></li>
            <li class="tab col s3"><a href="#fornecedor">Fornecedor</a></li>
        </ul>
    </div>

    <div id="geral" class="col s12 m12">
        <p class="px-1 font-bold lead">
            Informação Geral
        </p>

        <div class="row">
            <div class="input-field col s12 m6">
                <label asp-for="Nome"></label>
                <input asp-for="Nome" class="input-field" id="nome" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div id="estoque" class="col s12 m12">
        <div>
            <p class="px-1 font-bold lead">
                Informações sobre estoque
            </p>

            <div class="row">
                <div class="input-field col s12 m6">
                    <label asp-for="Quantidade"></label>
                    <input asp-for="Quantidade" class="input-field" id="quantidade" />
                    <span asp-validation-for="Quantidade" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div id="preco" class="col s12 m12">
        <p class="px-1 font-bold lead">
            Informações sobre Preços
        </p>
        <div class="row">
            <div class="input-field col s12 m6">
                <label asp-for="PrecoVenda"></label>
                <input asp-for="PrecoVenda" class="input-field" id="precoVenda" />
                <span asp-validation-for="PrecoVenda" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div id="marca" class="col s12 m12">
        <div>
            <p class="px-1 font-bold lead">
                Informação sobre Marca
            </p>
            <div class="input-field col s12 m6">
                <input type="hidden" asp-for="MarcaId" id="marcaId" />
                <select id="marcaSelect"></select>
                <label asp-for="MarcaId"></label>
                <span asp-validation-for="MarcaId" class="text-danger"></span>
                <a asp-action="Create" asp-controller="Marcas" target="_blank">Adicionar nova Marca</a>
            </div>
            <div class="input-field col s12 m6 pt-1">
                <button class="btn-flat mx-0 small" id="reload-marcas-button" type="button">
                    Recarregar lista
                </button>
            </div>
        </div>
    </div>

    <div id="fornecedor" class="col s12 m12">
        <div>
            <p class="px-1 font-bold lead">
                Informação sobre Fornecedor
            </p>
        </div>
    </div>
</div>