@model RCM.Application.ViewModels.VendaProdutoViewModel

<p class="px-1 font-bold lead">
    Informação geral
</p>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="VendaId" />

<div class="row">
    <div class="row">
        <div class="input-field col s12 m6">
            <input asp-for="ProdutoId" type="hidden" id="produtoId" />
            <select id="produtoSelect"></select>
            <label asp-for="ProdutoId"></label>
            <span asp-validation-for="ProdutoId" class="text-danger"></span>
            <a asp-action="Create" asp-controller="Produtos" target="_blank">Adicionar novo Produto</a>
        </div>
        <div class="input-field col s12 m6 pt-1">
            <button class="btn-flat mx-0 small" id="reload-produtos-button" type="button">
                Recarregar lista
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="input-field col s12 m6">
        <input asp-for="PrecoVenda" class="input-field" id="input-preco-venda" readonly />
        <label asp-for="PrecoVenda">Preço de Venda</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s12 m6">
        <label asp-for="Desconto"></label>
        <input asp-for="Desconto" class="input-field" id="input-desconto" data-val-number="O valor deve estar em um formato válido."/>
        <span asp-validation-for="Desconto" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="input-field col s12 m6">
        <label asp-for="Acrescimo"></label>
        <input asp-for="Acrescimo" class="input-field" id="input-acrescimo" data-val-number="O valor deve estar em um formato válido."/>
        <span asp-validation-for="Acrescimo" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="input-field col s12 m6">
        <label asp-for="Quantidade"></label>
        <input asp-for="Quantidade" class="input-field" id="input-quantidade" data-length="4" />
        <span asp-validation-for="Quantidade" class="text-danger"></span>
    </div>
</div>
<div class="row">
    <div class="input-field col s12 m6">
        <input asp-for="PrecoFinal" class="input-field" id="input-preco-final" readonly />
        <label asp-for="PrecoFinal">Preço Final</label>
    </div>
</div>
