@model RCM.CrossCutting.Identity.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Alterar Senha";
}

<h5>Alterar Senha</h5>

<div class="form-container col s12 m12">
    <p class="px-1 pt-1">
        Você deve fornecer sua senha atual para continuar com a operação
    </p>

    <form asp-action="ChangePassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="input-field col s12 m6">
                <label asp-for="CurrentPassword"></label>
                <input type="password" asp-for="CurrentPassword" class="input-field" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <label asp-for="NewPassword"></label>
                <input type="password" asp-for="NewPassword" class="input-field" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <label asp-for="ConfirmNewPassword"></label>
                <input type="password" asp-for="ConfirmNewPassword" class="input-field" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="pt-2 px-1">
            <post-button>Confirmar</post-button>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Voltar para Ajustes</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
