@{
    ViewData["Title"] = "E-mail de confirmação enviado";
}

<div class="form-container col s12 m12">
    <div class="px-1">
        <h5 class="font-bold">
            Confirmar E-mail
        </h5>
        <p class="mt-0 lead">
            Um e-mail contendo um código de confirmação foi enviado para o seu e-mail. É necessário confirmar seu e-mail para ter acesso à plataforma.
        </p>

        <p class="pt-2">
            <a asp-action="Index">
                Clique aqui para voltar aos ajustes
            </a>
        </p>
    </div>
</div>
