<div id="sidebar" class="position-fixed col s12 m2">
    <div class="z-depth-5" id="homeButton">
        <a asp-action="Index" asp-controller="Home" class="white-text">
            <i class="material-icons left">home</i>Home
        </a>
    </div>
    <div class="collection no-border no-margin">
        <a asp-action="Index" asp-controller="Duplicatas" class="collection-item">
            <i class="material-icons left tiny">payment</i>Duplicatas
        </a>
        <a asp-action="Index" asp-controller="Cheques" class="collection-item">
            <i class="material-icons left tiny">note</i>Cheques
        </a>
        <a asp-action="Index" asp-controller="Clientes" class="collection-item">
            <i class="material-icons left tiny">perm_identity</i>Clientes
        </a>
        <a asp-action="Index" asp-controller="Fornecedores" class="collection-item">
            <i class="material-icons left tiny">store</i>Fornecedores
        </a>
        <a asp-action="Index" asp-controller="Bancos" class="collection-item">
            <i class="material-icons left tiny">account_balance</i>Bancos
        </a>
        <a asp-action="Index" asp-controller="NotasFiscais" class="collection-item">
            <i class="material-icons left tiny">library_books</i>Notas fiscais
        </a>
    </div>
</div>
