@model RCM.CrossCutting.Identity.Models.RCMIdentityUser

@inject IUrlHelper Url; 
@{ var route = Url.GetControllerName(); }

@* PC TOPBAR *@
<ul id="nav-mobile" class="right hide-on-med-and-down">
    <li id="notificationsSymbol">
        <a asp-action="Index" asp-controller="Settings" class="@(route == "notifications" ? "bg-purple white-text" : "")">
            <i class="material-icons center px-2">notifications</i>
        </a>
    </li>
    <li>
        <a asp-action="Index" asp-controller="Settings" class="@(route == "settings" ? "bg-purple white-text" : "")">
            <i class="material-icons left">settings</i>
            Ajustes
        </a>
    </li>
    <li>
        <a asp-action="Index" asp-controller="Profile" class="font-bold @(route == "profile" ? "bg-purple white-text" : "")">
            @Model.Email
        </a>
    </li>
    <li>
        <a href="#logout-modal" class="modal-trigger">Logout</a>
    </li>
</ul>

<div id="logout-modal" class="modal">
    <div class="modal-content">
        <h4>Confirmar logout</h4>
        <p>Tem certeza que deseja sair do sistema?</p>
    </div>
    <div class="modal-footer mb-3">
        <a href="#!" class="modal-action modal-close btn-flat">Cancelar</a>
        <a asp-action="Logout" asp-controller="Accounts" asp-area="" class="btn-flat">Confirmar</a>
    </div>
</div>