body {
    min-height: 100vh;
    background-color: #f3f3f3;
}

.max-percent-height {
    height: 100%;
}

.max-percent-width {
    width: 100%;
}

footer {
    padding-bottom: 29px!important;
}

.position-fixed {
    position: fixed;
}

.body-content {
    min-height: 91vh;
    color: #3b3b3b !important;
}

.platform-content {
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 35px !important;
    padding-right: 35px !important;
    width: 100%;
    min-height: 91vh;
    color: #3b3b3b !important;
}

.login-container {
    margin: auto;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-right: 25px !important;
    padding-left: 25px !important;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 50px !important;
    margin-left: 50px !important;
}

.form-container {
    padding-top: 5px !important;
    padding-bottom: 25px !important;
    margin-bottom: 15px!important;
    background-color: white;
    height: 100%;
    /*max-height: 450px;*/
}

#user-menu li a {
    color: white!important;
    background-color: #9c27b0;
}

    #user-menu li a:hover {
        color: white !important;
        background-color: #7d218d;
        transition: background-color 0.2s linear;
    }

#login-button{

}

#login-button:hover {
    background-color: #ff05f2!important;
    transition: background-color 0.2s linear;
}

tbody tr {
    cursor: pointer;
}


/* QR code generator */
#qrCode {
    margin: 15px;
}

#nav-mobile li a {
    color: #3b3b3b;
}

.no-margin {
    margin: 0px !important;
}

.no-border .collection-item {
    border: 0px;
}

.no-border {
    border: 0px;
    border-radius: 0px!important;
}

.collection-item {
    color: #b5b5b5 !important;
    font-size: 13px;
    font-weight: 500;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.collection-item div strong {
    color: black;
}

.collapsible-body {
    background-color: gray!important;
    padding: 0px;
    border: 0px;
}

.div-brand {
    margin-top: 50px;
    margin-bottom: 50px;
}

#sidebar {
    margin: 0px;
    height: 100%;
    padding: 0px;
    background-color: #1a2228;
}

#sidebar .collection-item {
    background-color: #1a2228 !important;
}

#sidebar .collection-item:hover {
    background-color: #0f1417 !important;
}

#sidebar .collection-item.active {
        background-color: #9c27b0 !important;
        color: white!important;
}


#homeButton {
    font-weight: 300;
    background-color: #9c27b0;
}

    #homeButton:hover {
        background-color: #ff05f2;
        transition: background-color 0.2s linear;
    }

#homeButton a {
    margin-left: 20px;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 17px;
    font-size: 18px;
}

.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}

.px-5 {
    padding-left: 50px;
    padding-right: 50px;
}

.px-2 {
    padding-left: 20px;
    padding-right: 20px;
}

.px-1 {
    padding-left: 10px;
    padding-right: 10px;
}

.px-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.pt-1 {
    padding-top: 10px !important;
}

.pt-2 {
    padding-top: 20px !important;
}

.pt-3 {
    padding-top: 30px !important;
}

.pt-4 {
    padding-top: 40px !important;
}

.pt-0 {
    padding-top: 0px !important;
}

.pb-0 {
    padding-bottom: 0px !important;
}

.pb-1 {
    padding-bottom: 10px !important;
}

.pb-2 {
    padding-bottom: 20px !important;
}

.pb-3 {
    padding-bottom: 30px !important;
}

.py-0 {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.my-0 {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.mt-0 {
    margin-top: 0px !important;
}

.mt-1 {
    margin-top: 10px !important;
}

.mt-2 {
    margin-top: 20px !important;
}

.mt-3 {
    margin-top: 30px !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.mb-1 {
    margin-bottom: 10px !important;
}

.mb-2 {
    margin-bottom: 20px !important;
}

.mb-3 {
    margin-bottom: 30px!important;
}

.mx-0 {
    margin-right: 0px;
    margin-left: 0px;
}

.mx-1 {
    margin-right: 10px!important;
    margin-left: 10px;
}

.mx-2 {
    margin-right: 10px;
    margin-left: 10px;
}

.text-violet {
    color: #9c27b0;
}

.d-block {
    display: block !important;
}

.d-hidden {
    display: none;
}

.d-inlineblock {
    display: inline-block !important;
}

.material-icons.tiny {
    margin-top: 2.5px;
}

.font-bold {
    font-weight: 500;
}

.font-italic {
    font-style: italic;
}

.lead {
    font-size: 16px;
}

.lead-2 {
    font-size: 20px;
}

.small {
    font-size: 12px;
}

.text-muted {
    color: #9a9a9a;
}

.text-warning {
    color: #cb9535;
}

.text-danger {
    color: #cb3535;
}

.text-info {
    color: #034dff;
}

.text-info {
    color: #3cb05e;
}

.bg-success {
    background-color: #b8fac9;
}

.bg-warning {
    background-color: #fff8a9;
}

.bg-danger {
    background-color: #faa9a9;
}


/* Remove the input number spinner */
input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

footer {
    margin: 0px !important;
    padding: 25px;
    background-color: #7d218d;
    color: white;
}

.purple {
    background-color: #9c27b0;
}

button.purple:hover {
    background-color: #c63bdd!important;
}

/* Lists and Collections */
.detail-list dt {
    padding-right: 10px;
    padding-left: 10px;
}

dt {
    margin-top: 20px;
}

.detail-list dd {
    padding-top: 3px;
    margin-left: 15px;
}

.highlight.centered {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 95%;
}

.table-body {
}

.notification {
    color: black;
    display: block;
    width: 100%;
    padding: 10px;
}

.select-wrapper ul li span {
    color: #9c27b0 !important;
}

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}

.parallax-container .section {
    width: 100%;
}

.facebook-button {
    background-color: #3b5998;
}

.facebook-button:hover {
    background-color: #4676dc;
}

.google-plus-button {
    background-color: #D34836;
}

.google-plus-button:hover {
    background-color: #eb4e39;
}

#advancedSearch {
    display: none;
    margin-bottom: 20px;
    min-width: 200px;
}

.back-button {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
}

#template-aplicacao {
    display: none;
}

.collapsible-body {
    padding: 10px;
    background-color: #fafafa!important;
}

.checkable {
}

#items-info-panel {
    position: fixed;
    bottom: 0px;
    color: whitesmoke;
    background-color: #1a2228;
    left: 65%;
    width: 50%;
    padding: 20px 15px 0px 15px;
    transform: translate(-65%, 0);
    display: none;
    z-index: 3;
}

#unselect-button {
    margin: 5px;
    color: white;
}

#select-button {
    color: white;
    margin: 5px;
}

#select-button:hover, #unselect-button:hover {
    background-color: #9c27b0;
}

#input-preco-venda, #input-preco-final {
    border-bottom: dotted 1px;
    color: lightslategray;
}