@model RCM.Application.ViewModels.ClienteViewModel

@{
    ViewData["Title"] = "Adicionar novo Cliente";
}

<h5>Adicionar</h5>

<div class="form-container col s12 m12">
    <form asp-action="Create">
        <div class="row">
            <div class="col s12">
                <ul class="tabs tabs-fixed-width">
                    <li class="tab col s3"><a href="#geral" class="active">Geral</a></li>
                    <li class="tab col s3"><a href="#contato">Contato</a></li>
                    <li class="tab col s3"><a href="#endereco">Endereço</a></li>
                </ul>
            </div>
            <div id="geral" class="col s12 m12">
                @Html.EditorForModel()

                <div class="row">
                    <div class="input-field col s12 m6">
                        <label asp-for="Documento.CadastroNacional">CPF/CNPJ</label>
                        <input asp-for="Documento.CadastroNacional" class="input-field" />
                        <span asp-validation-for="Documento.CadastroNacional" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <label asp-for="Documento.CadastroEstadual">RG/Inscrição Estadual</label>
                        <input asp-for="Documento.CadastroEstadual" class="input-field" />
                        <span asp-validation-for="Documento.CadastroEstadual" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div id="contato" class="col s12 m12">
                @Html.EditorFor(c => c.Contato)
            </div>
            <div id="endereco" class="col s12 m12">
                @Html.EditorFor(c => c.Endereco)
            </div>

            <div class="row pt-2 px-1">
                <post-button>Confirmar</post-button>
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}