@model RCM.Application.ViewModels.ClienteViewModel

@{
    ViewData["Title"] = $"Editar {Model.Nome}";
}

<h5>Editar Cliente - @Model.Nome</h5>

<div class="form-container col s12 m12">
    <form asp-action="Edit">
        @Html.EditorForModel()

        <div class="row pt-2 px-1">
            <post-button>Confirmar</post-button>
        </div>
    </form>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.Id">Voltar para detalhes</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/ajax-call.min.js"></script>

    <script>
        var cidadeUrl = '@Url.Action("GetCidades", "Clientes")';
        var cidadeDropdown = $('#cidade-select');
        var cidadeInput = $('#cidade-id');

        reloadSelect(cidadeUrl, cidadeDropdown, cidadeInput);

        $('#reload-cidades-button').click(function () {
            reloadSelect(cidadeUrl, cidadeDropdown, cidadeInput);
        });

        $(cidadeDropdown).change(function () {
            var optionId = $('#cidade-select option:selected')[0].value;
            $(cidadeInput).val(optionId);
        })
    </script>
}