@model RCM.Application.ViewModels.ProdutoViewModels.AplicacaoViewModel

@{
    ViewData["Title"] = "Adicionar aplicação";
}

<h5>Adicionar</h5>

<div class="form-container col s12 m12">
    <form asp-action="AttachApplication">
        <div class="row">
            <div class="input-field col s12 m6">
                <input type="hidden" asp-for="ProdutoId" />
                <input type="hidden" asp-for="Id" id="aplicacao-id" />
                <select id="aplicacao-select"></select>
                <label asp-for="Id"></label>
                <span asp-validation-for="Id" class="text-danger"></span>
                <a asp-action="CreateApplication" asp-route-id="@Model.ProdutoId">Adicionar nova aplicação</a>
            </div>
            <div class="input-field col s12 m6 pt-1">
                <button class="btn-flat mx-0 small" id="reload-aplicacoes-button" type="button">
                    Recarregar lista
                </button>
            </div>
        </div>

        <div class="row pt-2 px-1">
            <post-button>Confirmar</post-button>
        </div>
    </form>
</div>


<div>
    <a asp-action="Details" asp-route-id="@Model.ProdutoId">Voltar para detalhes</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var aplicacaoUrl = '@Url.Action("GetAplicacoes", "Produtos")';
        var aplicacaoDropdown = $('#aplicacao-select');
        var aplicacaoInput = $('#aplicacao-id');

        function reloadSelect(dropdownName, url, inputId) {
            var dropdown = $(dropdownName);
            var fieldId = $(inputId).val();

            $.ajax({
                method: "GET",
                url: url,
            }).done(function (data) {
                dropdown.empty();

                $.each(data, function (index, item) {
                    dropdown.append($("<option />").text(item.carroMarca.
                        concat(' ' + item.carroModelo + ' - ', item.carroMotor + ' - ', item.carroAno)).val(item.id));
                })

                $(dropdown.find('option').each(function (index, item) {
                    if (item.value === fieldId) {
                        dropdown.prop('selectedIndex', index);
                    }
                }));

                if (fieldId == "" || fieldId == "00000000-0000-0000-0000-000000000000")
                    $(inputId).val(dropdown.find('option').first().val());

                dropdown.material_select();
            });
        }

        reloadSelect(aplicacaoDropdown, aplicacaoUrl, aplicacaoInput);

        $('#reload-aplicacoes-button').click(function () {
            reloadSelect(aplicacaoDropdown, aplicacaoUrl, aplicacaoInput);
        });

        $(aplicacaoDropdown).change(function () {
            var optionId = $('#aplicacao-select option:selected')[0].value;
            $(aplicacaoInput).val(optionId);
        })
    </script>
}
