@using RCM.Domain.Models.ProdutoModels;

@model RCM.Application.ViewModels.ProdutoViewModels.ProdutoFornecedorViewModel

@{
    ViewData["Title"] = "Adicionar fornecedor";
}

<h5>Adicionar</h5>

<div class="form-container col s12 m12">
    <form asp-action="AttachSupplier">
        <div class="row">
            <div class="input-field col s12 m6">
                <input type="hidden" asp-for="ProdutoId" id="produto-id" />
                <input type="hidden" asp-for="FornecedorId" id="fornecedor-id" />
                <select id="fornecedor-select"></select>
                <label asp-for="FornecedorId"></label>
                <span asp-validation-for="FornecedorId" class="text-danger"></span>
                <a asp-action="Create" asp-controller="Fornecedores">Adicionar nova fornecedor</a>
            </div>
            <div class="input-field col s12 m6 pt-1">
                <button class="btn-flat mx-0 small" id="reload-fornecedores-button" type="button">
                    Recarregar lista
                </button>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 m6">
                <label asp-for="PrecoCusto"></label>
                <input asp-for="PrecoCusto" class="input-field" />
                <span asp-validation-for="PrecoCusto" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <select asp-for="Disponibilidade" asp-items="@(new SelectList(Enum.GetNames(typeof(ProdutoDisponibilidadeEnum)).ToList()))" name="disponibilidade" class="input-field"></select>
                <label for="disponibilidade">Disponibilidade</label>
            </div>
        </div>

        <div class="row pt-2 px-1">
            <post-button>Confirmar</post-button>
        </div>
    </form>
</div>


<div>
    <a asp-action="Details" asp-route-id="@Model.ProdutoId">Voltar para detalhes</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script src="~/js/ajax-call.js"></script>

    <script>
        var fornecedorUrl = '@Url.Action("GetFornecedores", "Produtos")';
        var fornecedorDropdown = $('#fornecedor-select');
        var fornecedorInput = $('#fornecedor-id');
        reloadSelect(fornecedorUrl, fornecedorDropdown, fornecedorInput);

        $('#reload-fornecedores-button').click(function () {
            reloadSelect(fornecedorUrl, fornecedorDropdown, fornecedorInput);
        });

        $(fornecedorDropdown).change(function () {
            var optionId = $('#fornecedor-select option:selected')[0].value;
            $(fornecedorInput).val(optionId);
        })
    </script>
}
