@model RCM.Application.ViewModels.ProdutoViewModels.ProdutoViewModel

@{
    ViewData["Title"] = "Adicionar novo produto";
}

<h5>Adicionar</h5>

<div class="form-container col s12 m12">
    <form asp-action="Create">
        @Html.EditorForModel()

        <div class="row pt-2 px-1">
            <post-button>Confirmar</post-button>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/ajax-call.min.js"></script>

    <script>
        var marcaUrl = '@Url.Action("GetMarcas", "Produtos")';
        var marcaDropdown = $('#marca-select');
        var marcaInput = $('#marca-id');

        reloadSelect(marcaUrl, marcaDropdown, marcaInput);

        $('#reload-marcas-button').click(function () {
            reloadSelect(marcaUrl, marcaDropdown, marcaInput);
        });

        $(marcaDropdown).change(function () {
            var optionId = $('#marca-select option:selected')[0].value;
            $(marcaInput).val(optionId);
        })
    </script>
}