@model RCM.Application.ViewModels.ProdutoViewModels.ProdutoViewModel

@{
    ViewData["Title"] = $"Detalhes - {Model.Nome}";
}

<h5>Detalhes do Produto - @Model.Nome</h5>

<div class="form-container col m12 s12">
    @Html.DisplayForModel()

    <div class="center pt-3">
        <action-button asp-action="Edit" asp-controller="Produtos" asp-area="Platform" asp-route-id="@Model.Id" icon-name="edit">Editar</action-button>
        <action-button asp-action="Delete" asp-controller="Produtos" asp-area="Platform" asp-route-id="@Model.Id" icon-name="delete">Excluir</action-button>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>