@model RCM.Application.ViewModels.BancoViewModel

<p class="px-1 font-bold lead">
    Informação geral
</p>

<dl class="detail-list">
    <dt>
        <label asp-for="Id">Identificação</label>
    </dt>
    <dd>
        @Model.Id
    </dd>
    <dt>
        <label asp-for="CodigoCompensacao">Código de Compensação</label>
    </dt>
    <dd>
        @Model.CodigoCompensacao
    </dd>
    <dt>
        <label asp-for="Nome">Nome</label>
    </dt>
    <dd>
        @Model.Nome
    </dd>
    <dt>
        <label asp-for="Cheques">Quantidade de Cheques</label>
    </dt>
    <dd>
        @if (Model.Cheques.Any())
        {
            <span>Model.Cheques.Count</span>
        }
        else
        {
            <p class="px-1 col s12 m12">
                <i class="material-icons left">warning</i>
                Nenhum cheque encontrado.
            </p>
        }
    </dd>
</dl>