@model RCM.Application.ViewModels.ClienteViewModel

<p class="px-1 font-bold lead">
    Informação Geral
</p>

<dl class="detail-list">
    <dt>
        <label asp-for="Id">Identificação</label>
    </dt>
    <dd>
        @Model.Id
    </dd>
    <dt>
        <label asp-for="Nome">Nome</label>
    </dt>
    <dd>
        @Model.Nome
    </dd>
    <dt>
        <label asp-for="Descricao">Descrição</label>
    </dt>
    <dd>
        @if (!string.IsNullOrWhiteSpace(Model.Descricao))
        {
            @Model.Descricao
        }
        else
        {
            <span class="font-italic text-warning">
                <i class="material-icons left">warning</i>
                Nenhuma descrição relacionada.
            </span>
        }
    </dd>
</dl>
