@using RCM.Domain.Models.VendaModels;

@model RCM.Application.ViewModels.VendaViewModels.VendaViewModel

@{
    ViewData["Title"] = $"Detalhes da Venda";
}

<h5>Detalhes da Venda - @Model.Id</h5>

<div class="form-container col s12 m12">
    @Html.DisplayForModel()

    <div class="row center pt-3">
        @if (Model.Status == VendaStatusEnum.Aberta)
        {
            <action-button asp-action="Edit" asp-controller="Vendas" asp-area="Platform" asp-route-id="@Model.Id" icon-name="edit">Editar</action-button>
        }
        else
        {
            <span class="px-2 font-italic text-muted">Não é possível editar uma venda finalizada</span>
        }

        <action-button asp-action="Delete" asp-controller="Vendas" asp-area="Platform" asp-route-id="@Model.Id" icon-name="delete">Excluir</action-button>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>