@model RCM.Application.ViewModels.VendaViewModels.VendaViewModel

@{
    ViewData["Title"] = "Editar Venda";
}

<h5>Editar</h5>

<div class="form-container col s12 m12">
    <form asp-action="Create">
        @Html.EditorForModel()

        <div class="row pt-2 px-1">
            <post-button>Confirmar</post-button>
        </div>
    </form>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.Id">Voltar para detalhes</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/ajax-call.js"></script>

    <script>
        var vendaUrl = '@Url.Action("GetClientes", "Vendas")';
        var vendaDropdown = $('#venda-select');
        var vendaInput = $('#venda-id');

        reloadSelect(vendaUrl, vendaDropdown, vendaInput);

        $('#reload-clientes-button').click(function () {
            reloadSelect(vendaUrl, vendaDropdown, vendaInput);
        });

        $(vendaDropdown).change(function () {
            var optionId = $('#venda-select option:selected')[0].value;
            $(vendaInput).val(optionId);
        });
    </script>
}