@model RCM.CrossCutting.Identity.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Editar Perfil";
}

<h5>Editar Perfil</h5>

<div class="form-container col s12 m12">
    <form asp-action="Edit">
        @Html.EditorForModel()

        <div class="pt-2 px-1">
            <post-button>Confirmar</post-button>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Voltar para Perfil</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}