@model RCM.CrossCutting.Identity.ViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Meu Perfil";
}

<h5>Meu Perfil</h5>

<div class="form-container col s12 m12">
    @Html.DisplayForModel()

    <div class="pt-3 px-1">
        <action-button asp-action="Edit" asp-controller="Profile" asp-area="Platform" icon-name="edit">Editar</action-button>
    </div>
</div>

<div>
    <a asp-action="" asp-controller="">Voltar para Início</a>
</div>