@model RCM.CrossCutting.Identity.Models.RCMIdentityUser

<li>
    <a class='dropdown-button white-text' href='#' data-activates='user-menu'><i class="material-icons left">keyboard_arrow_down</i>@Model.Email</a>
</li>

<ul id='user-menu' class='dropdown-content'>
    <li><a asp-area="Platform" asp-controller="Clientes" asp-action="Index" class="font-bold">Acessar Plataforma</a></li>
    <li><a asp-area="Platform" asp-controller="Settings" asp-action="Index">Ajustes</a></li>
    <li><a asp-area="Platform" asp-controller="Profile" asp-action="Index">Perfil</a></li>
</ul>

<li>
    <a asp-action="Logout" asp-controller="Accounts" asp-area="" class="white-text">Logout</a>
</li>