<li>
    <a asp-action="Login" asp-controller="Accounts">
        Login
    </a>
</li>
<li>
    <a asp-action="Register" asp-controller="Accounts" class="font-bold">
        Criar Conta
    </a>
</li>