<li>
    <a asp-action="Login" asp-controller="Accounts" class="white-text">
        Login
    </a>
</li>
<li>
    <a asp-action="Register" asp-controller="Accounts" class="font-bold white-text">
        Criar Conta
    </a>
</li>