@model RCM.CrossCutting.Identity.ViewModels.ExternalLoginViewModel

@{
    ViewData["Title"] = "Registrar-se";
}


<div class="login-container col s12 m12">
    <div class="px-1">
        <h5 class="font-bold">
            Registrar-se
        </h5>
        <p class="mt-0">
            Crie uma conta para obter acesso à plataforma
        </p>
    </div>

    <form asp-action="ExternalLoginConfirmation">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="input-field col s12 m6">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="input-field" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="input-field" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <label asp-for="Age"></label>
                <input asp-for="Age" class="input-field" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
        </div>

        <div class="px-1 pt-2">
            <post-button icon-name="launch">Criar Conta</post-button>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Voltar para o Login</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}