@{
    ViewData["Title"] = "Usuário bloqueado";
}

<div class="login-container">
    <div class="px-1">
        <h5 class="font-bold">
            Usuário bloqueado
        </h5>
        <p class="mt-0 lead">
            Sua conta foi bloqueada devido a muitas tentativas incorretas, tente novamente mais tarde.
        </p>

        <p class="pt-2">
            <a asp-action="Index" asp-controller="Home">
                Clique aqui para voltar à página inicial
            </a>
        </p>
    </div>
</div>
