@model RCM.CrossCutting.Identity.ViewModels.RecoverPasswordViewModel

@{
    ViewData["Title"] = "Recuperar senha";
}

<div class="login-container">
    <div class="px-1">
        <h5 class="font-bold">
            Recuperar senha
        </h5>
        <p class="mt-0">
            Insira seu e-mail abaixo e lhe enviaremos um código de redefinição de senha
        </p>

        <form asp-action="RecoverPassword">
            <div class="row">
                <div class="input-field col s12 m6">
                    <label asp-for="@Model.Email"></label>
                    <input asp-for="@Model.Email" class="input-field" />
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>
            </div>
            
            <div class="row px-1">
                <post-button icon-name="send">Enviar código</post-button>
            </div>
        </form>
    </div>
</div>

<div class="back-button">
    <a asp-action="Index" asp-controller="Home">Voltar para a Página Inicial</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}