@{
    ViewData["Title"] = "E-mail de redefinição enviado";
}

<div class="login-container">
    <div class="px-1">
        <h5 class="font-bold">
            Redefinir senha
        </h5>
        <p class="mt-0 lead">
            Um e-mail contendo um código de redefinição de senha foi enviado para o seu e-mail. 
        </p>

        <p class="pt-2">
            <a asp-action="Index" asp-controller="Home">
                Clique aqui para voltar à página inicial
            </a>
        </p>
    </div>
</div>
