@model RCM.CrossCutting.Identity.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "Redefinir Senha";
}

<div class="login-container col s12 m12">
    <div class="px-1">
        <h5 class="font-bold">
            Redefinir Senha
        </h5>
        <p class="mt-0">
            Entre com a nova senha e com o código de redefinição no formulário abaixo
        </p>
    </div>

    <form asp-action="ResetPassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.Email" />

        <div class="row">
            <div class="input-field col s12 m6">
                <label asp-for="NewPassword"></label>
                <input type="password" asp-for="NewPassword" class="input-field" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <label asp-for="ConfirmNewPassword"></label>
                <input type="password" asp-for="ConfirmNewPassword" class="input-field" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <label asp-for="Code"></label>
                <input asp-for="Code" class="input-field" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
        </div>
        <div class="px-1 pt-2">
            <post-button icon-name="launch">Redefinir Senha</post-button>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Voltar para o Login</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}