@model RCM.Application.ViewModels.DuplicataViewModel

@{
    ViewData["Title"] = $"Editar Duplicata - {Model.NumeroDocumento}";
}

<h5>Editar Duplicata - @Model.NumeroDocumento</h5>

<div class="col s12 m12 form-container">
    <form asp-action="Edit">
        @Html.EditorForModel()
        
        <div class="row pt-2 px-1">
            <post-button icon-name="done">Confirmar</post-button>
        </div>
    </form>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.Id">Voltar para detalhes</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}