@model RCM.Application.ViewModels.ChequeViewModel

@{
    ViewData["Title"] = $"Editar Cheque - {Model.NumeroCheque}";
}

<h5>Editar Cheque - @Model.NumeroCheque</h5>

<div class="form-container col s12 m12">
    <form asp-action="Edit">
        @Html.EditorForModel()

        <div class="pt-2 px-1">
            <post-button icon-name="done">Confirmar</post-button>
        </div>
    </form>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.Id">Voltar para detalhes</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
