@model RCM.Application.ViewModels.MarcaViewModel

@{
    ViewData["Title"] = $"Excluir Marca - {Model.Nome}";
}

<h5>Excluir Marca - @Model.Nome</h5>

<div class="form-container col s12 m12">
    <form asp-action="Delete">
        @Html.DisplayForModel()

        <div class="row pt-2 px-1">
            <post-button icon-name="delete">Excluir</post-button>
        </div>
    </form>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.Id">Voltar para Detalhes</a>
</div>