@model RCM.Application.ViewModels.ChequeViewModels.EstadoChequeViewModel

@{
    ViewData["Title"] = $"Repassar Cheque";
}

<h5>Repassar o Cheque</h5>

<div class="form-container col s12 m12">
    <form asp-action="Repassar">
        @Html.EditorForModel()

        <div class="row">
            <div class="input-field col s12 m6">
                <input asp-for="ClienteId" type="hidden" id="cliente-id" />
                <select id="cliente-select"></select>
                <label asp-for="ClienteId"></label>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
                <a asp-action="Create" asp-controller="Fornecedores" target="_blank">Adicionar novo Cliente</a>
            </div>
            <div class="input-field col s12 m6 pt-1">
                <button class="btn-flat mx-0 small" id="reload-clientes-button" type="button">
                    Recarregar lista
                </button>
            </div>
        </div>

        <div class="row pt-2 px-1">
            <post-button>Confirmar</post-button>
        </div>
    </form>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.ChequeId">Voltar para Detalhes</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/ajax-call.js"></script>
    
    <script>
        var clienteUrl = '@Url.Action("GetClientes", "Cheques")';
        var clienteDropdown = $('#cliente-select');
        var clienteInput = $('#cliente-id');

        reloadSelect(clienteUrl, clienteDropdown, clienteInput);

        $('#reload-clientes-button').click(function () {
            reloadSelect(clienteUrl, clienteDropdown, clienteInput);
        });

        $(clienteDropdown).change(function () {
            var optionId = $('#cliente-select option:selected')[0].value;
            $(clienteInput).val(optionId);
        });
    </script>
}
