@model RCM.Application.ViewModels.BancoViewModel

@{
    ViewData["Title"] = $"Detalhes - {@Model.Nome}";
}

<h5>Detalhes do Banco - @Model.Nome</h5>

<div class="col m12 s12 form-container">
    @Html.DisplayForModel()

    <div class="center pt-3">
        <action-button asp-action="Edit" asp-controller="Bancos" asp-route-id="@Model.Id" icon-name="edit">Editar</action-button>
        <action-button asp-action="Delete" asp-controller="Bancos" asp-route-id="@Model.Id" icon-name="delete">Excluir</action-button>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>
