@model RCM.Application.ViewModels.DuplicataViewModel

@{
    ViewData["Title"] = "Adicionar nova Duplicata";
}

<h5>Adicionar</h5>

<div class="form-container col s12 m12">
    <form asp-action="Create">
        @Html.EditorForModel()

        <div class="row pt-2 px-1">
            <post-button>Confirmar</post-button>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/ajax-call.min.js"></script>
    
    <script>
        var fornecedorUrl = '@Url.Action("GetFornecedores", "Duplicatas")';
        var fornecedorDropdown = $('#fornecedor-select');
        var fornecedorInput = $('#fornecedor-input');
        reloadSelect(fornecedorUrl, fornecedorDropdown, fornecedorInput);

        $('#reload-fornecedores-button').click(function () {
            reloadSelect(fornecedorUrl, fornecedorDropdown, fornecedorInput);
        });

        $(fornecedorDropdown).change(function () {
            var optionId = $('#fornecedor-select option:selected')[0].value;
            $(fornecedorInput).val(optionId);
        })
    </script>
}