@model RCM.Application.ViewModels.DuplicataViewModel

@{
    ViewData["Title"] = $"Detalhes - {Model.NumeroDocumento}";
}

<h5>Detalhes da Duplicata - @Model.NumeroDocumento</h5>

<div class="form-container col s12 m12">
    @Html.DisplayForModel()

    <div class="center pt-3">
        <action-button asp-action="Edit" asp-controller="Duplicatas" asp-area="Platform" asp-route-id="@Model.Id" icon-name="edit">Editar</action-button>
        <action-button asp-action="Delete" asp-controller="Duplicatas" asp-area="Platform" asp-route-id="@Model.Id" icon-name="delete">Excluir</action-button>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>