@model RCM.Application.ViewModels.DuplicataViewModel

@{
    ViewData["Title"] = $"Editar Duplicata - {Model.NumeroDocumento}";
}

<h5>Editar Duplicata - @Model.NumeroDocumento</h5>

<div class="form-container col s12 m12">
    <form asp-action="Edit">
        @Html.EditorForModel()

        <div class="row pt-2 px-1">
            <post-button>Confirmar</post-button>
        </div>
    </form>
</div>

<div>
    <a asp-action="Details" asp-route-id="@Model.Id">Voltar para detalhes</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var dropdown = $('#fornecedorSelect');
        var fornecedoresUrl = '@Url.Action("GetFornecedores", "Duplicatas")';
        var fornecedorId = $('#fornecedorId').val();

        function reloadSelect() {
            $.ajax({
                method: "GET",
                url: fornecedoresUrl,
            }).done(function (data) {
                dropdown.empty();

                $.each(data, function (index, item) {
                    dropdown.append($("<option />").text(item.nome).val(item.id));
                })

                $(dropdown.find('option').each(function (index, item) {
                    if (item.value === fornecedorId) {
                        dropdown.prop('selectedIndex', index);
                    }
                }));

                if (fornecedorId == "")
                    $('#fornecedorId').val(dropdown.find('option').first().val());

                dropdown.material_select();
            });
        }

        reloadSelect();

        $('#reload-fornecedores-button').click(function () {
            reloadSelect();
        });

        $('#fornecedorSelect').change(function () {
            var optionId = $('#fornecedorSelect option:selected')[0].value;
            $('#fornecedorId').val(optionId);
        })
    </script>
}