@model RCM.Presentation.Web.ViewComponentsModels.SearchBarViewModel

<div class="col s12 m12">
        <div class="row my-0 py-0">
            <div class="input-field col s5 m5">
                <label for="search">@Model.Placeholder</label>
                <input type="text" id="searchInput" />
            </div>
            <div class="input-field col s4 m3">
                <select id="propertyInput">
                    @foreach (var option in Model.SelectValues)
                    {
                        <option value="@option.Value">@option.Key</option>
                    }
                </select>
            </div>
            <div class="col s4 m4 pt-2 px-0 mx-0 max-percent-width">
                <a class="btn waves-effect purple left no-border col s1 m2" id="advancedSearchToggler">
                    <i class="material-icons center">keyboard_arrow_down</i>
                </a><button type="submit" class="btn waves-effect purple no-border col s11 m10">
                    <i class="material-icons right">search</i>
                    Pesquisar
                </button>
            </div>
        </div>
</div>