@model RCM.Application.ViewModels.ProdutoViewModel

@{
    ViewData["Title"] = "Adicionar novo produto";
}

<h5>Adicionar</h5>

<div class="form-container col s12 m12">
    <form asp-action="Create">
        @Html.EditorForModel()

        <div class="row pt-2 px-1">
            <post-button>Confirmar</post-button>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var marcasUrl = '@Url.Action("GetMarcas", "Estoque")';

        function reloadSelect(dropdownName, url, inputId) {
            var dropdown = $(dropdownName);
            var fieldId = $(inputId).val();

            $.ajax({
                method: "GET",
                url: url,
            }).done(function (data) {
                dropdown.empty();

                $.each(data, function (index, item) {
                    dropdown.append($("<option />").text(item.nome).val(item.id));
                })

                $(dropdown.find('option').each(function (index, item) {

                    if (item.value === fieldId) {
                        dropdown.prop('selectedIndex', index);
                    }
                }));

                if (fieldId == "")
                    $(inputId).val(dropdown.find('option').first().val());


                dropdown.material_select();
            });
        }

        reloadSelect('#marcaSelect', marcasUrl, '#marcaId');

        $('#reload-marcas-button').click(function () {
            reloadSelect('#marcaSelect', marcasUrl, '#marcaId');
        });

        $('#marcaSelect').change(function () {
            var optionId = $('#marcaSelect option:selected')[0].value;
            $('#marcaId').val(optionId);
        })
    </script>
}