
@{
    ViewData["Title"] = "Nenhuma empresa encontrada";
}

<div class="form-container col s12 m12">
    <div class="px-1">
        <h5 class="font-bold">
            Oops... Algo deu errado!
        </h5>
        <p class="mt-0 lead">
            Você não tem nenhuma empresa relacionada no sistema.
            <a asp-action="Update" asp-controller="Empresa" asp-area="Platform">Clique aqui para adicionar uma empresa</a>
        </p>

        <p class="pt-2">
            <a asp-action="Index" asp-controller="Home" asp-area="">
                Clique aqui retornar à página inicial
            </a>
        </p>
    </div>
</div>
