@model RCM.Application.ViewModels.EmpresaViewModel

@{
    ViewData["Title"] = "Atualizar dados da Empresa";
}

<h5>Atualizar dados</h5>

<div class="form-container col s12 m12">
    <form asp-action="Update" enctype="multipart/form-data">
        @Html.EditorForModel()

        <div class="row pt-2 px-1">
            <post-button>Confirmar</post-button>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/ajax-call.js"></script>

    <script>
        var cidadeUrl = '@Url.Action("GetCidades", "Empresa")';
        var cidadeDropdown = $('#cidade-select');
        var cidadeInput = $('#cidade-id');

        reloadSelect(cidadeUrl, cidadeDropdown, cidadeInput);

        $('#reload-cidades-button').click(function () {
            reloadSelect(cidadeUrl, cidadeDropdown, cidadeInput);
        });

        $(cidadeDropdown).change(function () {
            var optionId = $('#cidade-select option:selected')[0].value;
            $(cidadeInput).val(optionId);
        })
    </script>
}