@model RCM.Application.ViewModels.EmpresaViewModel

@{
    ViewData["Title"] = "Atualizar dados da Empresa";
}

<h5>Atualizar dados</h5>

<div class="form-container col s12 m12">
    <form asp-action="Update" enctype="multipart/form-data">
        @Html.EditorForModel()

        <div class="row pt-2 px-1">
            <post-button>Confirmar</post-button>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var dropdown = $('#cidadeSelect');
        var estadosUrl = '@Url.Action("GetCidades", "Clientes")';
        var estadoId = $('#cidadeId').val();

        function reloadSelect() {
            $.ajax({
                method: "GET",
                url: estadosUrl,
            }).done(function (data) {
                dropdown.empty();

                $.each(data, function (index, item) {
                    dropdown.append($("<option />").text(item.nome).val(item.id));
                })

                $(dropdown.find('option').each(function (index, item) {
                    if (item.value === estadoId) {
                        dropdown.prop('selectedIndex', index);
                    }
                }));

                if (estadoId == "")
                    $('#cidadeId').val(dropdown.find('option').first().val());

                dropdown.material_select();
            });
        }

        reloadSelect();
    </script>
}